@font-face {
  font-family: 'Cantora One';
  font-style: normal;
  font-weight: 400;
  /* This edited version of Cantora One fixes an issue where "Stufful" appeared as "Stuffhl" */
  src: url(../fonts/cantora-one-fixed.woff);
}

* {
    box-sizing: border-box;
}

body {
    background: #d7dbdd;
    text-align: center;
    font-family: 'Cantora One', sans-serif;
    max-height: 100%;
    font-size: 16px;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #333;
    cursor: pointer;
}

h1, h2, h3 {
    color: #FFF;
    text-shadow: 1px 1px rgba(0,0,0,0.5);
}

h2.sectionHead {
    margin: 10px 0 0 0;
    font-size: 20px;
    color: #FFF;
}

#container {
    display: flex;
    margin: auto;
    width: 760px;
}

.upperBox {
    width: 520px;
    padding: 10px;
    border-radius: 10px;
    margin: 0 auto 1em auto;
    color: #FFF;
}

.warning {
    background-color: #A30006;
}

#infoBox {
    background-color: #3498db;
}

#infoBox a {
    color: #FFF;
    text-shadow: 1px 1px #34495e;
}

#infoBox a#hideInfoBox {
    color: #333;
    text-shadow: 1px 1px #FFF;
}

.sidebox {
    background-color: #34495e;
}

#languageSelection {
    width: 520px;
    margin: 0 auto 1em auto;
	text-align: right;
}

#languageSelection img {
	cursor: pointer;
}

#languageSelection img.selected {
	border: 1px solid #FFF;
}

/*
 * Left-hand side
 */

.menu {
    width: 120px;
    padding-top: 2em;
    position: relative;
}

.menu h3 {
    margin: 10px 0 0 0;
    padding-bottom: 5px;
    text-shadow: none;
    font-size: 100%;
}

.menu h3:first-of-type {
    margin: 0;
}

#settings {
    float: left;
    color: #FFF;
}

#settings .sidebox {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    overflow: hidden;
}

#settings h1, #stats h1 {
    margin: 0 0 0 0;
}

.userChoice a {
    display: block;
    padding: 5px;
    color: rgba(255, 255, 255, 0.54);
}

.userChoice a.selected {
    background-color: #FFF;
    color: #34495E;
}

.userChoice a.pending {
    background-color: #67798c;
    text-shadow: 1px 1px rgba(0,0,0,0.5);
    color: #FFFFFF;
}

.userChoice.toggleChoice {
    display: flex;
}

.userChoice.toggleChoice a {
    flex: 1 0 auto;
}

#genSelectContainer.userChoice a.selected, #genSelectContainer.userChoice a.pending {
    background-image: url(../images/icons/tick.svg);
    background-repeat: no-repeat;
    background-position: 100% 50%;
    background-size: 18px;
}

/*
 * Right-hand side
 */

#stats {
    float: right;
    color: #FFF;
}

#stats .sidebox {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 5px;
    margin-bottom: 5px;
}

#infoBoxRight {
    margin-top: 20px;
    text-shadow: 1px 1px rgba(0,0,0,0.5);
    background-color: #8e44ad;
}

span#bestTimePokemon {
    text-transform: capitalize;
    display: block;
}


/*
 * The main event!
 */

#main {
    width: 520px;
    min-height: 580px;
    float: left;
    color: #FFF;
}

#whosthatpokemon {
    background-color: #3498db;
    min-height: 650px;
    padding: 10px;
    border-radius: 10px;
}

#canvasContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 350px;
}

#whosthatpokemon a#giveAnswer, span#nextCountdown a {
    color: #FFF;
}

#whosthatpokemon a#giveAnswer {
    display: block;
}

#whosthatpokemon a#giveAnswer {
    text-shadow: 1px 1px #c0392b;
}

#whosthatpokemon a#nextPokemon, span#nextCountdown {
    text-shadow: 1px 1px #33F;
    margin: 10px 0;
}

input {
    margin: 1em 0 5px;
    height: 50px;
    font-size: 175%;
    border: 0;
    border-radius: 10px;
    text-align: center;
    text-transform: capitalize;
    font-family: 'Cantora One', sans-serif;
    outline: none;
}

input.correct {
    background-color: #27ae60;
    color: #FFF;
}

#alsoKnownAs h2 {
    margin: 0;
    font-size: 100%;
}

#alsoKnownAs ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 4px 0 0 0;
}

#alsoKnownAs ul li {
    background-color: rgba(255, 255, 255, 0.25);
    padding: 4px 8px;
    margin: 0 4px;
    border-radius: 4px;
    text-transform: capitalize;
}

#generationFinishedMessage {
    font-size: 120%;
}

#infoBoxMain {
    padding: 5px;
    margin-top: 20px;
    border-radius: 10px;
    text-shadow: 1px 1px rgba(0,0,0,0.5);
    background-color: #8e44ad;
}

#footer {
    color: #666;
    font-size: 75%;
    margin: 1em;
    text-align: center;
    text-shadow: 1px 1px #e1e1e1;
}

#footer a {
    color: #666;
}

@media (min-width: 461px) {
    .mobile {
        display: none;
    }
}

/* Need better mobile detection */
@media (max-width: 460px) {
    .desktop {
        display: none !important;
    }

    html, body, #container, #main {
        margin: 0;
        padding: 0;
        height: 100%;
    }

    #container, .upperBox, #main, #footer, #languageSelection {
        width: 100%;
        margin: 0;
    }

    body {
        background-color: #3498DB;
    }

    .keyboard-open #mobileStats {
        display: none;
    }

    /* The title keeps the buttons apart, so we make it invisible instead of removing it completely */
    .keyboard-open header .title {
        opacity: 0;
    }

    #infoBox {
        display: none;
    }

    #main, #canvasContainer {
        min-height: 0;
    }

    canvas {
        margin-top: 0 !important;
    }

    #whosthatpokemon {
        display: flex;
        flex-direction: column;
        height: 100%;
        min-height: 0;
        padding: 0;
        border-radius: 0;
    }

    #whosthatpokemon a#nextPokemon, span#nextCountdown {
        margin: 0;
    }

    #playArea {
        display: flex;
        flex-direction: column;
        flex: 1;
        min-height: 0;
    }

    #canvasContainer {
        flex: 1;
        padding: 10px;
        padding-top: 50px; /* Push canvas below the header text */
    }

    .keyboard-open #canvasContainer {
        padding-top: 10px; /* The text is hidden, so we can move this back up */
    }

    #answerArea {
        z-index: 10;
        width: 100%;
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.1);
    }

    input {
        margin: 0 0 5px 0;
        width: 100%;
    }

    #languageSelection, #footer {
        display: none;
    }

    .menu {
        position: fixed;
        top: 0;
        height: 100%;
        width: 50%;
        padding: 10px;
        background-color: rgba(0,0,0,0.8);
        box-shadow: 0 0 2px 2px rgba(0,0,0,0.5);
        transition: all 0.2s;
        overflow-y: auto;
        z-index: 100;
    }

    .menu#settings { left: -60%; }
    .menu#settings.shown {
        left: 0;
    }

    .menu#stats { right: -60%; }
    .menu#stats.shown { right: 0; }

    .menu h1 {
        font-size: 150%;
    }

    #shadowImage {
        height: auto;
        max-height: 100%;
        max-width: 90%;
        min-height: 0;
        object-fit: contain;
    }

    .close-button {
        position: absolute;
        top: 0;
        padding: 10px;
        color: #FFF;
    }

    .menu#settings .close-button { right: 0; }
    .menu#stats .close-button { left: 0; }

    .sidebox {
        border-radius: 10px;
    }

    header {
        display: flex;
        height: 48px;
        line-height: 48px;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
    }

    header .title {
        flex-grow: 1;
    }

    header .show-menu {
        height: 36px;
        width: 36px;
        padding: 6px;
        margin: 6px 0;
        background-color: rgba(255, 255, 255, 0.25);
        box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.2);
    }

    header .show-menu img {
        width: 100%;
        height: 100%;
        vertical-align: top;
    }

    header .show-settings {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    header .show-stats {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        padding: 8px; /* the stats icon is quite big, so needs more padding */
    }

    .title {
        margin: 0;
        font-size: 125%;
    }

    #mobileStats {
        position: absolute;
        right: 0;
        top: 48px;
        display: flex;
        flex-direction: column;
        font-size: 100%;
        color: #fff;
    }

    .stat-ent {
        display: flex;
        align-items: center;
        padding: 5px 10px;
        margin-bottom: 5px;
        border-bottom: 2px solid #fff;
    }

    .stat-ent img {
        width: 16px;
        height: 16px;
        margin-right: 5px;
    }

    .stat-ent span {
        flex: 1;
    }

    .open-menu-overlay {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 100;
        background-color: rgba(0,0,0,0.5);
    }

    #infoBoxMain {
        margin: 0;
        border-radius: 0
    }
}
