node_modules
index.js
/public/images/artwork
/public/images/sprites
/public/sounds/*
pokemedia
*.zip
.DS_Store
dist/
*.css.d.ts

# Directories from the old app structure
/images/
/sounds/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
