.container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 8px;

  button {
    display: flex;
  }
}

.countdownContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  animation: slideInRight .2s ease;

  &:hover {
    .iconPauseContainer {
      opacity: 1;
    }
  }
}

.iconPauseContainer {
  position: absolute;
  inset: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-positive);
  border-radius: 100px;
  opacity: 0;
  transition: opacity .2s ease;

  img {
    width: 16px;
    height: 16px;
  }
}

.nextButton {
  animation: slideInRight .2s ease;
}

@keyframes slideInRight {
  0% { transform: translateX(4px) }
  100% { transform: translateX(0px) }
}
